<% include partials/header.ejs %>
	<div class="container">
	    <div class="row mt-5">
	        
            <%prods.forEach(function(prod){%>
            <div class="col-md-4 col-sm-6 mb-5">
	            <div class="card" style="width: 18rem;">
                  <img src="<%=prod.img%>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> <%=prod.name%> </h5>
                    <p class="card-text"> <%=prod.desc%> </p>
                    <h5 class="card-title" style="color: green">R$  <%=prod.preco%> </h5>
                    
                    <form method="POST" action="/cart">
                        <a href="/compra" class="btn btn-success" >Comprar</a>
                        <input type="hidden" name="prod" value="<%=prod.name%>">
                        <button type="submit" class="btn btn-primary btn-sm" >+ carrinho</button>
                    </form>
                    
                  </div>
                </div>
            </div>
            <% }); %>
	        
	    </div>
	    
    </div>
<% include partials/footer.ejs %>
